panel/panel.json
panel/*.pem
panel/workshop_tmp/
panel/sessions.json
__pycache__/
*.pyc
*.smx
panel/panel.db
panel/panel.db-*
panel/downloads/
.pytest_cache/
panel/venv/
panel/l4d2panel/static/
frontend/node_modules/
frontend/dist/
panel/devenv/
